<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="StyleSheet" href="styles/styles.css">
    <link rel = "icon" href="FaviconPizza.png">
    <script src="js/pizza.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Assignment SDEV305</title>

</head>
<body>
    <nav>    
        <a href="/contact-us"> Contact</a> 
    </nav>
    <h1>Welcome to Pizza Place</h1>
        <main>
            <header>
                <h1>PIZZAS</h1>
                <h2>We Make Pizza</h2>
                <img style="float: right;" src="images/pizzaguy.png" width="300px" height="300px" alt="image of a Pizza guy">
                <hr>
                <span>contact us</span> <br>
                <a id="contact-button" href="#" role="button">Contact</a>
            </header>

            <br>

            <form id="pizza-form" action="/submit-order" method="post">
                <fieldset><Legend>Contact Info</Legend>
                    <label  for="fname">First Name 
                        <span class="err" id="err-fname">
                            first name required
                        </span> </label>
                    <input type="text" name="fname" id="fname">

                    <label for="lname">Last Name
                            <span class="err" id="err-lname">
                            last name required
                        </span> </label>
                    </label>
                    <input type="text" name="lname" id="lname">

                    <label for="email">Email
                        <span class="err" id="err-email">
                            email required
                        </span> 
                    </label>
                    <input type="email" name="email" id="email">
                </fieldset>

                <fieldset><Legend>Select PickUp or Delivery</Legend>
                    <span class="err" id="err-method">
                            Please Select Pickup or Delivery
                    </span> 
                    </label>
                    <label for="pickUp-btn"></label>
                    <input type="radio" name="method" value="PickUp" id="PickUp">Pick up
                    <label for="delivery-btn"></label>
                    <input type="radio" name="method" value="delivery" id="delivery">Delivery
                </fieldset>

                <fieldset><Legend>Select Toppings</Legend>
                    <label for="pepperoni"></label>
                        <input type="checkbox" id="pepperoni" name="toppings[]" value="pepperoni">
                        Pepperoni</input>
                        <span>Validator.w3.org</span>
                    <label for="cheese"></label>
                        <input type="checkbox" id="cheese" name="toppings[]" value="cheese">
                        Cheese</input>
                </fieldset>

                <fieldset><Legend>Pizza Size</Legend>
                        <select name="size" id="size">
                            <option value="none">--Select--</option>
                            <option value="small">Small Pizze (4 Slices)</option>
                            <option value="medium">Medium Pizza ( 8 Slices)</option>
                            <option value="large">Large Pizza (12 Slices)</option>

                        </select>
                </fieldset>

                <!-- Cones -->
                <label for="comment">Extra instructions</label>
                <textarea rows="5" id="comment" name="comment"></textarea>
                <br>
                <br>

                <label for="signUp">Signup for Discounts!</label>
                <input type="checkbox" name="signUp" id="signUp">
                <br>
                <br>
                <button type="submit" id="order-button">Place Order</button>


            </form>
        </main>
</body>
</html>