html{
    box-sizing: border-box;
    background: peachpuff;
}
:root{
    --outline-color: forestgreen;
}
body{
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    padding: .5rem;
    background: antiquewhite;
    margin: 0 auto;
    border-radius: 1rem;
    width: 90%;
}
hr{
    width: 90%;
}
main{
    padding: .75rem;
    border: .125rem, solid var(--outline-color);
    border-radius: 1rem;
    background-color: burlywood;
    margin: 1rem;
}
img{
    padding: 1rem 1rem;
    border-radius: 1.5rem;
}

#contact-button, button{
    border: .125rem none var(--outline-color) ;
    background-color: var(--outline-color);
    border-radius: .25rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: .125rem;
}
input{
    width: fit-content;
}
legend{
    color: darkgreen;
    font-variant: small-caps;
    font-size: 1.5rem;
    padding: 0 1rem;

}
fieldset{

    padding: 1rem;
    border: 1px solid var(--outline-color);
    margin-bottom: 1.25rem;
}
label{
    display: block;
    padding: .125rem;
}
a:hover, button:hover{
    opacity: 50%;
}
button, input{
    cursor: pointer;
}
input[type="text"],select{
    width: fit-content;
    border-radius: .25rem;
}
textarea{
    width: 100%;
}
fieldset{
    background-color: rgba(255, 218, 185, 0.299);
    border-radius: .25rem;
    padding: .5rem;
}

.err{
    display: none;
    color: darkred;
}


nav *{
    font-size: x-large;
    text-decoration: none;
}